* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 992px) {
  body {
    overflow: hidden;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background: #fff;
  color: #000000;
  max-width: 1920px;
}

.spinner {
  display: flex;
  justify-content: space-evenly;
  align-self: flex-start;
  background-color: #fff;
  animation: monanim;
  animation-duration: 4s;
  width: 0%;
  height: 0px;
}
.spinner__load {
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: #FF79DA;
  height: 100px;
  width: 5%;
  animation: spinner 3000ms 3s alternate;
}
.spinner__load--1 {
  animation-delay: 600ms;
}
.spinner__load--2 {
  animation-delay: 1200ms;
}
.spinner__load--3 {
  animation-delay: 1800ms;
}
.spinner__load--4 {
  animation-delay: 2400ms;
}
.spinner__load--5 {
  animation-delay: 3000ms;
}

@keyframes spinner {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes monanim {
  from {
    visibility: visible;
    width: 100%;
    height: 1000px;
  }
  to {
    visibility: hidden;
    animation-duration: 0s;
    width: 0%;
    height: 0px;
  }
}
.header {
  display: flex;
  margin: 1.5rem;
}
.header img {
  width: 100%;
}
@media screen and (max-width: 992px) {
  .header img {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .header img {
    width: 50%;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    margin-left: 5rem;
    margin-right: -1rem;
  }
}

.header__form {
  display: flex;
  background-color: #eaeaea;
  box-shadow: inset 0px 15px 5px -10px #606060;
  width: 20%;
  margin-left: 1.5rem;
  border-radius: 10px;
}
.header__form input {
  border: none;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 18px;
  opacity: 0.8;
  background-color: #eaeaea;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 150px;
}
.header__form i {
  padding: 18px 10px 5px 25px;
  opacity: 0.7;
}
@media screen and (max-width: 992px) {
  .header__form {
    width: 30%;
  }
}
@media screen and (max-width: 992px) and (max-width: 992px) {
  .header__form input {
    width: 120px;
  }
}
@media screen and (max-width: 768px) {
  .header__form {
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    border-radius: 0;
    margin-left: 0;
    box-shadow: inset 5px 10px 5px -10px #606060;
    padding: 15px 0px 15px 0px;
  }
}
@media screen and (max-width: 768px) {
  .header__form input {
    font-size: 14px;
    margin-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .header__form i {
    margin-left: 2.5rem;
    opacity: 0.7;
    padding: 0;
  }
}

.header__heading {
  display: flex;
  flex-direction: column;
  height: 180px;
  margin-top: 1rem;
}
@media screen and (max-width: 768px) {
  .header__heading {
    background-color: #f7f7f7;
    align-items: center;
    text-align: center;
    height: 277px;
    margin-top: 0;
  }
}
.header__heading h1 {
  background-color: #fff;
  margin: 1rem 4rem 0.5rem 1.5rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .header__heading h1 {
    margin: 2.5rem 4rem 1rem 4rem;
  }
}
.header__heading p {
  margin-left: 1.5rem;
  font-size: 18px;
  opacity: 0.5;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .header__heading p {
    opacity: 0.8;
    margin-bottom: 1.5rem;
  }
}

.footer {
  background-color: #353535;
  padding: 20px 15px 30px 15px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
}
.footer h2 {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 0.5rem;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .footer h2 {
    font-size: 18px;
    margin-bottom: 1rem;
  }
}
.footer .icon__footer {
  display: flex;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-right: 1rem;
}
@media screen and (max-width: 768px) {
  .footer .icon__footer {
    margin-top: 0;
    margin-right: 0;
  }
}
.footer .icon__footer p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .footer .icon__footer p {
    font-size: 14px;
  }
}
.footer .icon__footer i {
  color: #fff;
  padding-top: 5px;
  padding-right: 10px;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .footer .icon__footer i {
    font-size: 12px;
    padding-top: 0;
  }
}
.footer .icon__footer__second {
  display: flex;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-right: 1rem;
}
@media screen and (max-width: 768px) {
  .footer .icon__footer__second {
    margin-right: 0;
  }
}
.footer .icon__footer__second p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .footer .icon__footer__second p {
    font-size: 14px;
  }
}
.footer .icon__footer__second i {
  color: #fff;
  padding-top: 5px;
  padding-right: 10px;
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  .footer .icon__footer__second i {
    font-size: 10px;
  }
}
.footer .paragrah__footer {
  display: flex;
}
@media screen and (max-width: 992px) {
  .footer .paragrah__footer {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .footer .paragrah__footer {
    display: flex;
    flex-direction: column;
  }
}
.footer .paragrah__footer p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 20px;
  margin-top: 0.5rem;
  margin-right: 1rem;
}
@media screen and (max-width: 768px) {
  .footer .paragrah__footer p {
    margin-right: 0;
    font-size: 14px;
  }
}
.footer .paragrah__footer .footer__link {
  text-decoration: none;
}

.header__btn {
  border-radius: 40px;
  border: none;
  padding: 15px 20px 15px 20px;
  color: #fff;
  background-color: #e170da;
  box-shadow: inset -15px -20px 15px 0px #be65db, 5px 8px 10px #c7c7c7;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 3rem;
  transition: background-color 200ms, box-shadow 400ms;
  width: 230px;
  margin-left: 1.5rem;
}
@media screen and (max-width: 768px) {
  .header__btn {
    width: 58%;
    margin-left: 0;
  }
}
.header__btn:hover {
  background-color: rgba(255, 121, 218, 0.8);
  box-shadow: inset -15px -15px 15px #9356DC, 5px 8px 10px #708090;
}

.icon__regular {
  display: flex;
  justify-content: flex-end;
}
.icon__regular .fa-regular {
  transform: translate(-5px, -40px);
  font-size: 26px;
  color: #000000;
}
.icon__regular .fa-regular:hover {
  color: #fff;
}

.icon__solid {
  display: flex;
  justify-content: flex-end;
}
.icon__solid .fa-solid {
  transform: translate(-8px, -64px);
  font-size: 20px;
  color: #fff;
}
.icon__solid .fa-solid:hover {
  transition: all 3000ms;
  transform-origin: center;
  color: #9356DC;
}

.main__btn button {
  border-radius: 40px;
  color: #fff;
  background-color: #e170da;
  box-shadow: inset -15px -20px 15px 0px #be65db, 5px 8px 10px #c7c7c7;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 200ms, box-shadow 400ms;
  padding: 15px 40px 15px 40px;
  border: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.main__btn button:hover {
  background-color: rgba(255, 121, 218, 0.8);
  box-shadow: inset -15px -15px 15px #9356DC, 5px 8px 10px #708090;
}

.title__list {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .title__list {
    display: flex;
    flex-direction: column;
  }
}
.title__list h2 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  opacity: 1;
  padding: 0px 15px 20px 0px;
  margin-left: 1.5rem;
}
@media screen and (max-width: 768px) {
  .title__list h2 {
    padding: 50px 15px 20px 15px;
    margin-left: 0;
  }
}

.elements__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-left: 1.5rem;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .elements__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .elements__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
}
.elements__list .list__link {
  text-decoration: none;
  color: #606060;
}
.elements__list li {
  background-color: #f7f7f7;
  border-radius: 20px;
  width: 90%;
  height: 75px;
  padding: 30px 5px 30px 5px;
  margin-bottom: 1rem;
  box-shadow: 5px 8px 10px #eaeaea;
  margin-right: 2rem;
}
@media screen and (max-width: 992px) {
  .elements__list li {
    width: 45%;
  }
}
@media screen and (max-width: 768px) {
  .elements__list li {
    margin-right: 0;
    width: 90%;
  }
}
.elements__list i {
  color: #606060;
  margin-right: 1rem;
  margin-left: 1rem;
}
.elements__list #icon__first.fa-sharp {
  margin-right: 1.3rem;
}
.elements__list #icon__store.fa-sharp {
  color: #9356DC;
}
.elements__list span {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .elements__list span {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
  }
}
.elements__list span:nth-child(1) {
  border-radius: 50px;
  padding: 5px 10px 5px 10px;
  background-color: #9356DC;
  color: #fff;
  margin-left: -1rem;
}

.section__products {
  background-color: #f7f7f7;
  margin-top: 2rem;
  height: 350px;
}
@media screen and (max-width: 992px) {
  .section__products {
    height: 650px;
  }
}
@media screen and (max-width: 768px) {
  .section__products {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    height: 1105px;
  }
}
.section__products .section__header {
  height: 80px;
}
@media screen and (max-width: 768px) {
  .section__products .section__header {
    height: 100px;
  }
}
.section__products .title__products h2 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  opacity: 1;
  padding: 20px 15px 20px 0px;
  transform: translate(0px, 0px);
  margin-left: 1.5rem;
}
@media screen and (max-width: 768px) {
  .section__products .title__products h2 {
    padding: 50px 15px 20px 15px;
    margin-left: 0;
  }
}
.section__products .article__cards {
  width: 100%;
  display: flex;
  margin-left: 1.5rem;
}
@media screen and (max-width: 992px) {
  .section__products .article__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (max-width: 768px) {
  .section__products .article__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
}
.section__products .article__cards .article__products {
  background: #fff;
  margin-bottom: 1rem;
  border-radius: 20px;
  box-shadow: 5px 8px 10px #c7c7c7;
  width: 25%;
  margin-right: 3rem;
  position: relative;
}
@media screen and (max-width: 992px) {
  .section__products .article__cards .article__products {
    width: 30%;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .section__products .article__cards .article__products {
    width: 90%;
    margin-right: 0;
  }
}
.section__products .article__cards .article__products .article__textnew {
  position: absolute;
  top: 10px;
  right: 10px;
}
.section__products .article__cards .article__products .article__textnew span {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #094b3a;
  font-weight: bold;
  border-radius: 2px;
  background-color: #99E2D0;
  font-size: 14px;
  padding: 8px 15px 8px 15px;
}
.section__products .article__cards .article__products .article__link {
  text-decoration: none;
}
.section__products .article__cards .article__products .article__link img {
  object-fit: cover;
  height: 144px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.section__products .article__cards .article__products .article__link .article__card__content {
  height: 70px;
}
.section__products .article__cards .article__products .article__link .article__card__content .article__content {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.section__products .article__cards .article__products .article__link .article__card__content .article__content h3 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  opacity: 1;
  margin-top: 0.5rem;
}
.section__products .article__cards .article__products .article__link .article__card__content .article__content p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 18px;
  font-style: normal;
  padding-top: 5px;
  font-weight: 300;
}

.header__link {
  display: flex;
}
.header__link img {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  margin-left: 5rem;
  margin-right: 5rem;
}
@media screen and (max-width: 992px) {
  .header__link img {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .header__link img {
    width: 40%;
  }
}
.header__link i {
  color: black;
  font-size: 20px;
  transform: translate(15px, 35px);
  opacity: 0.8;
}
@media screen and (max-width: 768px) {
  .header__link i {
    transform: translate(15px, 25px);
  }
}

.header__title {
  background-color: #f7f7f7;
  height: 500px;
}
@media screen and (max-width: 768px) {
  .header__title {
    height: 300px;
  }
}
.header__title img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .header__title img {
    height: 250px;
  }
}
.header__title .page__title {
  display: flex;
  padding: 25px 0px 15px 15px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  transform: translate(0px, -48px);
  background-color: #f7f7f7;
}
@media screen and (max-width: 768px) {
  .header__title .page__title {
    justify-content: space-between;
  }
}
.header__title .page__title h1 {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-size: 26px;
}
@media screen and (max-width: 768px) {
  .header__title .page__title h1 {
    font-size: 26px;
  }
}
.header__title .page__title i {
  color: #000000;
  font-size: 26px;
  background-color: #f7f7f7;
  transform: translate(28px, 10px);
}
@media screen and (max-width: 768px) {
  .header__title .page__title i {
    transform: translate(-28px, 0px);
  }
}

.section__content {
  background-color: #f7f7f7;
  display: flex;
}
@media screen and (max-width: 992px) {
  .section__content {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .section__content {
    display: flex;
    flex-direction: column;
    height: 330px;
  }
}
.section__content h2 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 18px;
  opacity: 0.7;
  font-weight: 300;
  border-bottom: 2px solid rgb(0, 183, 255);
  width: 45px;
  height: 24px;
  margin-bottom: 0.5rem;
  margin-left: 0.8rem;
}
.section__content .menu__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.section__content .content__menu {
  display: flex;
  padding: 0.75rem;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  margin-top: 2rem;
  margin-right: 0.8rem;
  background-color: #fff;
  border-radius: 1rem;
  width: 25%;
  height: 9vh;
  margin-bottom: 1rem;
  box-shadow: 5px 8px 10px #eaeaea;
  animation: anim 3s ease-in-out alternate;
}
.section__content .content__menu--1 {
  animation-delay: 1000ms;
}
.section__content .content__menu--2 {
  animation-delay: 2000ms;
}
.section__content .content__menu--3 {
  animation-delay: 3000ms;
}
@media screen and (max-width: 992px) {
  .section__content .content__menu {
    width: 45%;
    display: flex;
    align-items: center;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
}
@media screen and (max-width: 768px) {
  .section__content .content__menu {
    margin-top: 0;
    width: 92%;
    margin-left: 0.8rem;
  }
}
.section__content .content__menu .info {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
  width: 50%;
}
.section__content .content__menu .info h3 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  opacity: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.section__content .content__menu p {
  opacity: 0.8;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.section__content .content__menu .paragraph__price {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  font-size: 14px;
  font-weight: bold;
  padding-right: 1rem;
  padding-left: 1rem;
}
.section__content .content__menu .paragraph__price p {
  transition: all 0.5s ease-in-out;
  transform: translateX(0);
  transform-origin: right;
}
.section__content .content__menu .checkbox {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%;
  border: 2px solid #99E2D0;
  background-color: #99E2D0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #fff;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  transform: translateX(100%);
}
.section__content .content__menu:hover .paragraph__price > p {
  transform: translateX(-75px);
}
.section__content .content__menu:hover .paragraph__price > .checkbox {
  visibility: visible;
  transform: translateX(0%);
}

@media screen and (max-width: 768px) {
  #content__entree {
    display: flex;
    flex-direction: column;
    height: 410px;
    margin-left: 0rem;
  }
}

@keyframes anim {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.main__btn {
  background-color: #f7f7f7;
  width: 100%;
  display: flex;
  padding-left: 11px;
}
@media screen and (max-width: 768px) {
  .main__btn {
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 60px;
    height: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
