@mixin mobile-only{
    @media screen and (max-width:map-get($breakpoints,mobile)){
        @content;
    };
}
@mixin tablette-only{
    @media screen and (max-width:992px){
        @content;
    };
}

@mixin li{
    background-color: $colour-grey-more-clear;
    border-radius: 20px;
    width:90%;
    height:75px;
    padding: 30px 5px 30px 5px;
    margin-bottom: 1rem;
    box-shadow: $box-shadow-li;
}

@mixin li-menu{
    background-color: $colour-background-white;
    border-radius: 1rem;
    width:25%;
    height:9vh;
    margin-bottom: 1rem;
    box-shadow: $box-shadow-li;
}

@mixin icon-header-number{
    border-radius: 50px;
    padding: 5px 10px 5px 10px;
    background-color: $colour-primary;
    color: $colour-text-white;
    margin-left: -1rem;
}

@mixin span-header{
    font-family: $font-family;
    color:$colour-black;
    font-size:nth($font-size,6);
    font-weight: $font-weight-bold;
}

@mixin title-h2{
    font-family: $font-family;
    color:$colour-black;
    font-size:nth($font-size,2);
    font-weight:$font-weight-bold;
    opacity:1;
}

@mixin title-h2-footer{
    font-family: $font-family-logo;
    color:$colour-text-white;
    font-size:nth($font-size,3);
    font-weight: 400;
}

@mixin title-h2-menu{
    font-family: $font-family;
    color:$colour-black;
    font-size:nth($font-size,5);
    opacity:0.7;
    font-weight: 300;
}

@mixin title-h3{
    font-family: $font-family;
    color:$colour-black;
    font-size:nth($font-size, 5);
    font-weight:$font-weight-bold;
    opacity:1;
}

@mixin card{
    background: $colour-background-white;
    margin-bottom: 1rem;
    border-radius: 20px;
    box-shadow: $box-shadow-btn-outset;
}

@mixin img-article{
    width:100%;
    height: 114px;
    object-fit:cover; 
}

@mixin new-text{
    font-family: $font-family;
    color:$colour-green;
    font-weight: $font-weight-bold;
    border-radius: 2px;
    background-color:$colour-tertiary;
    font-size: nth($font-size, 6);
    padding: 8px 15px 8px 15px;
}

@mixin paragraph-article{
    font-family: $font-family;
    color:$colour-black;
    font-size:nth($font-size, 5);
    font-style: normal;
    padding-top: 5px;
    font-weight: 300;
}

@mixin article-content{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

@mixin main-btn-heart{
    transform:translate(-5px, -40px);
    font-size: nth($font-size,1);
}

@mixin main-btn-heart-solid{
    transform:translate(-8px, -64px);
    font-size: nth($font-size,4);
}


@mixin main-btn-heart-menu{
    color: $colour-black;
    font-size: nth($font-size, 1);
    background-color: $colour-grey-more-clear;
}

@mixin paragraph-footer{
    font-family: $font-family;
    color:$colour-text-white;
    font-size:nth($font-size,4);
}



