@mixin mobile-only{
    @media screen and (max-width:map-get($breakpoints,mobile)){
        @content;
    };
}

@mixin title-h1{
    font-family: $font-family-logo-title;
    color:$colour-black;
    font-size:nth($font-size,1);
    font-weight:$font-weight;
    opacity:1;
}

@mixin li{
    background-color: $colour-slate-grey;
    box-shadow: $box-shadow;
    border: 2px solid $colour-slate-grey;
    border-radius: 20px;
    width:50%;
    height:100px;
}

@mixin span-header{
    font-family: $font-family;
    color:$colour-black;
    font-size:nth($font-size,4);
    font-style: $font-weight-bold;
    opacity:1;
    text-decoration: none;
    padding: 20px;
}

@mixin title-h2{
    font-family: $font-family-logo-title;
    color:$colour-black;
    font-size:nth($font-size,2);
    font-weight:$font-weight-bold;
    opacity:1;
}

@mixin title-h2-footer{
    font-family: $font-family-logo-title;
    color:$colour-text-white;
    font-size:nth($font-size,2);
    font-weight:$font-weight-bold;
    opacity:1;
}

@mixin title-h3{
    font-family: $font-family-logo-title;
    color:$colour-black;
    font-size:nth($font-size,3);
    font-weight:$font-weight-bold;
    opacity:1;
}

@mixin card{
    background: $colour-background-white;
    border-radius: 20px;
    box-shadow: $box-shadow;
    width: 100%; 
    margin-left: 1rem;   
    margin-bottom: 2rem;
}

@mixin paragraph-article{
    font-family: $font-family;
    color:$colour-black;
    font-size:nth($font-size,4);
    font-style: normal;
    opacity:0.8;
}

@mixin paragraph-footer{
    font-family: $font-family;
    color:$colour-text-white;
    font-size:nth($font-size,4);
    font-style: normal;
    opacity:0.8;
}

@mixin img-article{
    width:100%;
    height: 114px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit:cover; 
}

@mixin new-text{
    font-family: $font-family;
    color:$colour-tertiary;
    font-weight: $font-weight-bold;
    border: 1px solid $colour-tertiary;
    border-radius: 10px;
    padding: 20px;
    background-color:$colour-tertiary;
}

@mixin icon-header-number{
    border: 1px solid $colour-primary;
    border-radius: 50px;
    background-color:$colour-primary;
    color:$colour-text-white;
}

@mixin icon-header-img{
    color:$colour-icon-img;
}

@mixin icon-card-heart{
    background-color:$colour-background-white;
    border: 3px solid $colour-black;
}

@mixin icon-footer
{
    color:$colour-text-white;
}