$colour-primary:#9356DC;
$colour-secondary:#FF79DA;
$colour-tertiary:#99E2D0;
$colour-header-btn:#e170da;
$colour-header-btn-sadow:#be65db;
$colour-green-background:#96decc;
$colour-green:#094b3a;
$colour-black:#000000;
$colour-text-white:#fff;
$colour-background-white:#fff;
$colour-grey-footer:#353535;
;$colour-slate-grey:#708090;
$colour-grey:#606060;
$colour-grey-clear:#eaeaea;
$colour-grey-more-clear:#f7f7f7;
$font-weight-bold:bold;
$font-family:'Roboto', Arial, Helvetica, sans-serif;
$font-family-logo:'Shrikhand', Arial, Helvetica, sans-serif;
$font-size: 26px 24px 22px 20px 18px 14px 12px 10px;
$box-shadow: inset 5px 10px 5px -10px $colour-grey;
$box-shadow-btn: inset -15px -20px 5px $colour-header-btn-sadow;
$box-shadow-li: 5px 8px 10px $colour-grey-clear;
$breakpoints:(mobile: 768px);

