.header__link
{
    display: flex;
    img{
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        margin-left: 5rem ;
        margin-right: 5rem;
        @include mobile-only{
            width:40%;
        }
    }
    i{
        color: black;
        font-size: nth($font-size,4);
        translate: 15px 35px;
        opacity: 0.8;

        @include mobile-only{
            translate: 15px 25px;
        }
    }
}
.header__title
{
    background-color: $colour-grey-more-clear; 
    height: 500px;

    @include mobile-only{
    height: 300px;
    }
    img{
        width:100%;
        height: 400px;
        object-fit: cover;

        @include mobile-only{
        height: 250px;
        }
    }
    .page__title
    {
        display: flex;
        padding: 25px 0px 15px 15px;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        translate: 0px -48px;
        background-color: $colour-grey-more-clear;

        @include mobile-only{
        justify-content: space-between;
        } 
        h1{
            font-family: $font-family-logo;
            font-size:26;

            @include mobile-only{
                font-size:nth($font-size, 1);
            }
        }
        i{
            @include main-btn-heart-menu;
            translate: 28px 10px;

            @include mobile-only{
                translate: -28px 0px;
            }
        }
    }    
}
.section__content
{
    background-color: $colour-grey-more-clear;
    display: flex;
    height: 150px;
    @include mobile-only{
        display: flex;
        flex-direction: column;
        height: 330px;
    }
    h2{
        @include title-h2-menu;
        border-bottom: 2px solid rgb(0, 183, 255);
        width: 45px;
        height: 24px;
        margin-bottom:0.5rem;
        margin-left: 0.8rem;
    }
 
    .content__menu
    { 
        @include li-menu;
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        margin-left: 0.8rem;
        animation: anim 3s ease-in-out alternate; 
        @for $i from 1 through $number-menu {
            &--#{$i} {
                animation-delay: $anim-delay-menu * $i;
            }
        }
        @include mobile-only{
            margin-top:0;
            width: 92%;
        }
        .info{
            padding: 15px 10px 0px 10px;
            width: 50%; 
            h3{
                @include title-h3; 
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        p{
            opacity: 0.8;
            font-size: nth($font-size,6);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        
        .paragraph__price
        {
            display: flex;
            justify-content: center;
            opacity: 0.8;
            font-size: nth($font-size,6);   
            font-weight:$font-weight-bold;
            margin-top: 2rem;
            transform: translateX(65px);
        }
        .checkbox{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70px;
            width: 15%;
            border: 1px solid $colour-tertiary;
            background-color: $colour-tertiary;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            color:$colour-background-white;
            font-size: nth($font-size,4); 
            margin-bottom: 0.5rem;
            visibility: hidden;
        }
        &:hover{
            .paragraph__price{
                transform: translateX(10px);
            }
            .checkbox{
                visibility: visible;
                transform: translateX(0px);
            }

        }
    } 
}

#content__menu{
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    @include mobile-only{
    height: 410px;
    }
    :nth-child(5){
        margin-top: 0;
        margin-left: 4.5rem;
        @include mobile-only{
            margin-left: 0.8rem;
        }
    }
}

@keyframes anim{
from{
    opacity: 0;
    visibility: hidden;
}
to{
    opacity: 1;
    visibility: visible;
}
}

.main__btn
{
    background-color: $colour-grey-more-clear;
    width: 100%;
    display: flex;
    padding-left: 11px;
    @include mobile-only{
        justify-content: center;
        align-items: center;
        padding-left: 0px;
        padding-top: 10px;
        padding-bottom: 60px;
        height: 50px;
    }
}