.header__link
{
    display: flex;

    img{
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        margin-left: 5rem ;
        margin-right: 5rem;

        @include tablette-only{
            width:60%;
        }

        @include mobile-only{
            width:40%;
        }
    }

    i{
        color: black;
        font-size: nth($font-size,4);
        transform:translate(15px, 35px);
        opacity: 0.8;

        @include mobile-only{
            transform:translate(15px, 25px);
        }
    }
}

.header__title
{
    background-color: $colour-grey-more-clear; 
    height: 500px;

    @include mobile-only{
    height: 300px;
    }

    img{
        width:100%;
        height: 400px;
        object-fit: cover;

        @include mobile-only{
        height: 250px;
        }
    }

    .page__title
    {
        display: flex;
        padding: 25px 0px 15px 15px;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        transform:translate(0px, -48px);
        background-color: $colour-grey-more-clear;

        @include mobile-only{
        justify-content: space-between;
        } 

        h1{
            font-family: $font-family-logo;
            font-size:26px;

            @include mobile-only{
                font-size:nth($font-size, 1);
            }
        }

        i{
            @include main-btn-heart-menu;
            transform:translate(28px, 10px);

            @include mobile-only{
                transform:translate(-28px, 0px);
            }
        }
    }    
}

.section__content
{
    background-color: $colour-grey-more-clear;
    display: flex;

    @include tablette-only{
        display: flex;
        flex-wrap: wrap;
    }

    @include mobile-only{
        display: flex;
        flex-direction: column;
        height: 330px;
    }

    h2{
        @include title-h2-menu;
        border-bottom: 2px solid rgb(0, 183, 255);
        width: 45px;
        height: 24px;
        margin-bottom:0.5rem;
        margin-left: 0.8rem;
    }

    .menu__container
    {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 2rem;
    }

    .content__menu
    { 
        display: flex;
        padding: 0.75rem;
        justify-content: space-between;
        overflow: hidden;
        position: relative;
        margin-top: 2rem;
        margin-right: 0.8rem;
       @include li-menu;
        animation: anim 3s ease-in-out alternate; 
        @for $i from 1 through $number-menu {
            &--#{$i} {
                animation-delay: $anim-delay-menu * $i;
            }
        }

        @include tablette-only{
            width:45%;
            display: flex;
            align-items: center; 
            margin-left: 0.8rem;
            margin-right: 0.8rem;
        }
        @include mobile-only{
            margin-top:0;
            width: 92%;
            margin-left: 0.8rem;
        }
        .info{
            display: flex;
            flex-direction: column;
            background-color: white;
            justify-content: space-between;
            overflow: hidden;
            white-space: nowrap;
            width: 50%; 

            h3{
                @include title-h3; 
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        p{
            opacity: 0.8;
            font-size: nth($font-size,6);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        
        .paragraph__price
        {
            display: flex;
            align-items: flex-end;
            justify-content: space-around;
            font-size: nth($font-size,6);   
            font-weight:$font-weight-bold;
            padding-right:1rem;
            padding-left: 1rem;

            p{
            transition: all 0.5s ease-in-out;
            transform:translateX(0);
            transform-origin: right;
            }
        }

        .checkbox{
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 20%;
            border: 2px solid $colour-tertiary;
            background-color: $colour-tertiary;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            color:$colour-background-white;
            font-size: nth($font-size,4); 
            transition: all 0.5s ease-in-out;
            visibility: hidden;
            transform:translateX(100%);
        }

        &:hover{
            .paragraph__price > p{
                transform: translateX(-75px);
            }

            .paragraph__price > .checkbox{
                visibility: visible;
                transform: translateX(0%);
            }
        }
    } 
}

#content__entree{
    @include mobile-only{
    display: flex;
    flex-direction:column;
    height: 410px;
    margin-left:0rem;
    }
}

@keyframes anim{
from{
    opacity: 0;
    visibility: hidden;
}
to{
    opacity: 1;
    visibility: visible;
}
}

.main__btn
{
    background-color: $colour-grey-more-clear;
    width: 100%;
    display: flex;
    padding-left: 11px;
    @include mobile-only{
        justify-content: center;
        align-items: center;
        padding-left: 0px;
        padding-top: 10px;
        padding-bottom: 60px;
        height: 50px;
    }
}